:root {
  --player-width: 620px;
  --player-height: 400px;

  --input-width: 300px;
  --input-height: 30px;
  --snowfall-duration: 20s;
  --snowsize: 450px;
}

body {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  background: url("anuc2.jpg") fixed no-repeat center / cover;

  /* Necessary for snowfall */
  position: relative;
  /*animation: snowing var(--snowfall-duration) linear infinite; */
}

.christmas-body {
  font-family: "Christmas font", Arial, sans-serif;

  background:
    linear-gradient(white, #ff6969 85%) no-repeat,
    url("anuc.jpg") fixed no-repeat center / cover;
  background-blend-mode: soft-light;

  border: 10px solid transparent;
  border-image: url(christmas_border2.png) 33% round;
  border-image-width: 200px;
  border-image-outset: 20px;
  overflow: hidden;

  h1 {
    font-size: 60pt;
    color: white;
    text-shadow: 4px 4px 20px red;
    font-weight: normal;
  }

  h2 {
    display: none;
    font-size: 40pt;
    color: white;
    text-shadow: 8px 8px 40px green;
  }

  #player-container {
    font-size: 30pt;
  }
}

#game-wrapper {
  display: none;
}

#guessInput {
  width: var(--input-width);
  height: var(--input-height);
  margin: 5px auto 5px auto;
}

#submitBtn {
  padding: 8px;
  margin-top: 5px;
  font-size: 1em;
}

.button-container button {
  font-size: 1em;
}

#player-container {
  position: relative;
  margin: 1rem auto;
  width: var(--player-width);
  height: var(--player-height);
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#player-container iframe {
  width: 100%;
  height: 100%;
}

#cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Christmas font";
  src: url("Beyond Wonderland.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Improve player size for larger viewports */
@media (min-width: 2048px) and (min-height: 1152px) {
  #player-container {
    width: calc(var(--player-width) * 1.5);
    height: calc(var(--player-height) * 1.5);
  }

  #guessInput {
    width: calc(var(--input-width) * 1.2);
    height: calc(var(--input-height) * 1.2);
    font-size: 1.5em;
  }

  #guesses {
    font-size: 1.5em;
  }
}
